---
import { SOCIALMEDIA } from "@/consts/social-media";
---

<section id="social-links" class="flex justify-center items-center gap-3">
  {
    SOCIALMEDIA.map(({ url, name, image, backgroundColor }) => (
      <a
        class:list={[
          "p-2 size-10 grid place-content-center rounded-full hover:scale-110 transition-transform",
          backgroundColor,
        ]}
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={name}
        title={`Ir a mi perfil de ${name}`}
      >
        <image.logo class="size-6" />
      </a>
    ))
  }
</section>
